{% extends 'layout.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container row mt-5">
        <h1 class="text-white text-center">NOTE BROS</h1>
    </div>

    <div class="container row mt-5">
        <a class="" href="/game"><button type="button" class="btn border text-decoration-none text-white fs-2 offset-4 col-4">Jouer</button></a>
    </div>
    <div class="container row mt-5">
        <a class="" href="/tuto"><button type="button" class="btn border text-decoration-none text-white fs-2 offset-4 col-4">Tuto</button></a>
    </div>
{% endblock %}

