{% extends 'layout.html.twig' %}

{% block title %}
    You Win
{% endblock %}

{% block content %}
    {% if result == 0 %}
    <div class="input-group mb-3 text-white mt-5">
        <h1>Quel est le nom de cette musique ?</h1>
        <form id="myForm" name="myForm" class="mt-5 d-flex flex-column col-6 m-auto w-50" method="post" action="">
            <input type="text" class="form-control" placeholder="Song's Name" name="name1">
            <button type="button" class="btn border text-white m-3" id="sound1">Play</button>
            <button type="button" class="btn border text-white m-3" id="pause1">Pause</button>

            <input type="text" class="form-control" placeholder="Song's Name" name="name2">
            <button type="button" class="btn border text-white m-3" id="sound2">Play</button>
            <button type="button" class="btn border text-white m-3" id="pause2">Pause</button>

            <input type="text" class="form-control" placeholder="Song's Name" name="name3">
            <button type="button" class="btn border text-white m-3" id="sound3">Play</button>
            <button type="button" class="btn border text-white m-3" id="pause3">Pause</button>

            <input type="text" class="form-control" placeholder="Song's Name" name="name4">
            <button type="button" class="btn border text-white m-3" id="sound4">Play</button>
            <button type="button" class="btn border text-white m-3" id="pause4">Pause</button>

            <button type="submit" class="btn border text-white btn-lg ms-3">OK</button>
        </form>
        {% endif %}
            {% if result == 1 %}
            <h1>You Win</h1>
        {% endif %}
            {% if result == 2 %}
                <div class="text-white text-center">
                    <h1>You loose</h1>
                    <p>Recommence depuis le début</p>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn border m-3"><a class="text-decoration-none text-white fs-2" href="/game">Rejouer</a></button>
                    </div>
                </div>
        {% endif %}
    </div>
{% endblock %}
 {% block javascript %}
 <script src="/assets/js/soundWin.js"></script>
 {% endblock %}